*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}
li{
    list-style: none;
}
.container{
    width: 1400px;
    padding: 0 40px;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: lightblue;
        .box-btns{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
    }

    &-main{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 80vh;
        .title-block{
            align-self: flex-start;
        }
        .btn-table{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px
        }
        table {
            border-collapse: collapse;
            border: 2px solid rgb(140 140 140);
            font-family: sans-serif;
            font-size: 0.8rem;
            letter-spacing: 1px;
          }
                  
          thead,
          tfoot {
            background-color: rgb(228 240 245);
          }
          
          th,
          td {
            border: 1px solid rgb(160 160 160);
            padding: 8px 10px;
          }
          th{
            font-weight: 600;
          }
          
          td:last-of-type {
            text-align: center;
          }
          
          tbody > tr:nth-of-type(even) {
            background-color: rgb(237 238 242);
          }
    }
    &-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color: lightblue;
        font-style: italic;
    }
}

.btn-main{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    &:hover{
        color: silver;
        font-size: 17px;

    }
}

.btn__delete{
    background-color: red;
}

.title-block{
    font-size: 62px;
}

.form-add{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 600px;
    padding: 20px 40px;
    top: 10%;
    border-radius: 25px;
    background-color: lightblue;
    .form-add-btn-box{
        display: flex;
        justify-content: start;
        align-self: flex-end;
        gap: 10px;
        button{
            padding: 10px 15px;
        }
    }

}

.hidden{
    display: none;
}
